.mainForm{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.mainFormTitle{
    font-weight: 700;
    font-size: 40px;
    line-height: 112px;
    color: #000000;
    margin-top: 38px;
}
.mainFormButton{
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #F50057;
    padding: 8px 0px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    letter-spacing: 0.46px;
    text-transform: uppercase;
}