.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.email {
	display: flex;
	width: 80%;
	justify-content: space-between;
	align-items: center;
	padding: 6px;
	border: 1px solid #ccc;
	margin-bottom: 6px;
}

.inbox {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
