@mixin style-text-titel {
    font-weight: bold;
    @include adaptiv-font(24,20);
    line-height: $line-height;
    color: $body-secondary-text-color;
}
@mixin style-additional-btn{
    padding-bottom: 4.5px;
    border-bottom: 1px solid #084D5B;
    @include adaptiv-font(16,14);
    line-height: 171%;
    color: #084D5B;
}
@mixin flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin style-primary-btn {
    background-color: $body-primary-btn-color;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: $line-height;
    border-radius: 8px;
    transition: 300ms;
    max-width: 328px;
    width: 100%;
    height: 48px;
    cursor: pointer;
}
@mixin style-link {
    font-size: 16px;
    line-height: 119%;
}
@mixin style-BG {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
@mixin grade-style {
    background-image: url("../img/main/asterisks.svg");
    @include style-BG;
    height: 12px;
    width: 71px;
    display: block;
}
@mixin phone {
    @media (min-width:#{$width-mobile}) and (max-width: #{$width-tablet - 1px}){
        @content
    };
}
@mixin tablet {
    @media (min-width:#{$width-tablet}) and (max-width: #{$width-desktop - 1px}){
        @content
    };
}
@mixin desktop {
    @media (min-width:#{$width-desktop}){
        @content
    };
}

@mixin adaptiv-font($pcSize,$mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.4;
    font-size: calc(#{$mobSize + 'px'} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
}


