@import "reset";
@import "mixins";
@import "function";
@import "variables";
@import "components/allComponents.scss";
.container{
    max-width: 1200px;
    padding: 0px 24px;
    margin: 0 auto;
    @include desktop{
        padding: 0px 75px;
        box-sizing: border-box;
    }
}
body{
    overflow: hidden;
    height: 100vh;
}
.stop-scroll{
    overflow: visible;
}