<header class="header ">
    <section class="header__section-nav-men section-nav-men navbar navbar-light">
        <div>
            <img class="section-nav-men__icon" src="./img/icon.png" alt="icon">
            <h1></h1>
        </div>
        <button class="section-nav-men__btn btn btn-primary">Авторизация</button>
    </section>
    <section class="header__section-search section-search navbar navbar-dark bg-primary p-3">
        <form class="section-search__form-header form-header row justify-content-around container">
            <input class="form-header__input-search col-4"  type="search" placeholder="Search">
            <select class="form-header__select offset-md-1 col-3">
                <option value="All">All</option>
                <option value="Обычная">Обычная</option>
                <option value="Приоритетная">Приоритетная</option>
                <option value="Неотложная">Неотложная</option>
            </select>
            <select class="form-header__select col-3">
                <option value="All">All</option>
                <option value="Кардиолог">Кардиолог</option>
                <option value="Стоматолог">Стоматолог</option>
                <option value="Терапевт">Терапевт</option>
            </select>
          </form>
    </section>
</header>