.header{
    position: relative;
    padding: 10px 32px;
    background: #F50057;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}
.headeNavMenu{
    display: flex;
    justify-content: space-between;
}
.navMenu{
    display: flex;
    gap: 31px;
    align-items: center;
}
.titleTextHeader{
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}
.burgerMenu{
    width: 18px;
    height: 12px;
    position: relative;
}
.burgerMenu::after,
.burgerMenu::before,
.burgerMenu span{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
}
.burgerMenu span{
    top: 0px;
}
.burgerMenu::before{
    top: 12px;
}

