.user{
    width: 40px;
    height: 40px;
    background-color: #bebebe;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.userName{
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.14px;
    color: #FFFFFF;
    display: block;
    background-color: transparent;
}