.sectionMain{
    display: flex;
}
.mainBlockForm{
  padding-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sectionMainImg{
  max-width: 720px;
  max-height: 1024px;
}
.sectionMainLogo{
  width:172.77px;
  height:36.94px;
}