
.main{
  margin-top: 50px;
  &__block-for-form{
    transition: 700ms;
  }
  &__title-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgba($color: #000000, $alpha: 0.5);
  }
  .block-for-form{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 4;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  &__form,
  &__form-authorization{
    display: grid;
    width: 800px;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    background-color:#bcdaee;
    border-radius: 0.25rem;
    padding: 20px 40px;
    margin: 0 auto;
    position: absolute;
    z-index: 5;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  .form--authorization{
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  &__form-label{
    display: flex;
    flex-direction: column;
    color: rgb(29, 25, 25);
    font-weight: 500;
  }
  .btn-closes{
    grid-column: 1/3;
    width: 24px;
    height: 24px;
    justify-self: end;
    align-self: end;
    cursor: pointer;
    position: relative;
    z-index: 2;
    &::before,
    &::after{
      content: '';
      display: block;
      width: 100%;
      height: 1.3px;
      border-radius: 5px;
      background-color: #000;
    }
    &::before{
      transform: rotate(-45deg) translate(0px, 50%);
    }
    &::after{
      transform: rotate(45deg) translate(0px, -50%)
    }
  }
    &__form-btn{
      width:clamp(200px, 50%, 400px);
      grid-column: 1/3;
      justify-self: center;
      font-weight: 500px;
      padding: 10px;
      font-size: 18px;
    }
    &__form-input{
      padding: 7px;
      border-radius: 0.25rem;
      border: none;
      margin-top: 5px;
      &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button{
              -webkit-appearance: none;
            }
    }
    &__form-select{
      padding: 7px;
      border-radius: 0.25rem;
      border: none;
      
    }
  .section-modal-creat-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    flex-wrap: wrap;
    .modal-card{
      min-height: 250px;
      padding: 10px;
      transition: all 400ms;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      column-gap: 20px;
      &__btn-close{
        align-self: start;
      }
      .modal-card-btn{
        height: 50px;
        align-self: end;
        margin-top: 10px;
      }
      .list{
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 5px;
        word-break: break-all;
        margin-top: 5px;
        &__title{
          display: block;
          font-weight: bold;
        }
        &__text{
          border: 1px solid white;
          transition: all 500ms;
        }
        .text{
          border: 1px solid black;
          border-radius: 0.25rem;
        }
      }
      &__info{
        opacity: 1;
        transition:1000ms;
        position: static;
        grid-column: 1/3;
      }
        .div-with-add-info {
          position: absolute;
          z-index: -1;
          opacity: 0;
          transition:0ms;
        }
    }
    &__modal-card{
      max-height: 250px;
      
    }
    .modal-card--dont-active{
      display: none;
    }
  }
  &__not-valid-input{
    border: 1px solid #dd0000;
  }
}
// .main{
//   text-align: right;
//   height: 1000px;
//   &__btn{
//     display: none;
//     margin-top: 30px;
//     margin-right: 30px;
//     @include style-primary-btn;
//   }
//   .btn{
//     display: inline-block;
//   }
//     &__form{
//       min-width:325px;
//       @include flex-container;
//       display:inline-flex;
//       flex-direction: column;
//       background: #FFFFFF;
//       box-shadow: 0px 2px 10px rgba(64, 123, 255, 0.2);
//       border-radius: 10px;
//       padding: 21px 20px 31px;
//       gap: 18px;
//       text-align: left;
//       position: fixed;
//       top:50%;
//       left:50%;
//       transform:translate(-50%, -50%);
//       opacity: 1;
//       transition: 700ms;
//     }
//     &__form-btn-close {
//       width: 20px;
//       height: 20px;
//       display: block;
//       margin-right: 0;
//     }
//     .div-with-add-info {
//       visibility: hidden;
//       position: absolute;
//     }
//     .card{
//       &__data{
//         display: grid;
//       grid-template-columns: repeat(2, 1fr);
//       }
//     }
//     .form{
//       opacity: 0;
//     }
//     &__form-select{
//       display: block;
//       border: 1px solid #4797C8;
//       padding: 10px;
//       width: 100%;
//       margin-top: 8px;
//     }
//     &__form-label{
//       width: 100%;
//       font-weight: 500;
//       font-size: 14px;
//       line-height: 17px;
//     }
//     &__form-input{
//       border-radius: 5px;
//       border: 1px solid #4797C8;
//       padding: 10px;
//       width: 100%;
//       margin-top: 8px;
//       box-sizing: border-box;
//       &::-webkit-outer-spin-button,
//       &::-webkit-inner-spin-button{
//         -webkit-appearance: none;
//       }
//     }
//     &__not-valid-input{
//       border: 1px solid #dd0000;
//     }
//     &__form-btn{
//       background: #4797C8;
//       border-radius: 8px;
//       font-weight: 600;
//       font-size: 18px;
//       line-height: 135%;
//       color: #FFFFFF;
//       padding: 12px 111px;
//       margin-top: 10px;
//       &:hover{
//         box-shadow: 0px 4px 4px rgba(118, 184, 238, 0.53);
//       }
//       &:active{
//         box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
//       }
//     }
//     &__form-btn-close{
//       width: 24px;
//       height: 24px;
//       align-self: flex-end;
//       cursor: pointer;
//       &::before,
//       &::after{
//         content: '';
//         display: block;
//         width: 100%;
//         height: 1.3px;
//         border-radius: 5px;
//         background-color: #000;
//       }
//       &::before{
//         transform: rotate(-45deg) translate(0px, 50%);
//       }
//       &::after{
//         transform: rotate(45deg) translate(0px, -50%)
//       }
//       }
// }