.mainFormInput{
    display: block;
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}
.mainFormLabel{
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    padding: 9px 12px;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.15px;
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 4px 4px 0px 0px;
}