.header{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 40px;
}
.headerLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    border-right: 5px solid black;
    padding-right: 20px;
}
.headerImg{
    width: 50px;
    height: 50px;
}
.headerRight{
    display: flex;
    justify-content: center;
    align-items: center;
}