.container{
    width: 1050px;
    margin: 0 auto;
}
.header-navigation-background{
    background-color: #F9FCFF;
    border: none;
    box-shadow: 0px 3px 3px #E8F3FC;
}
.header-navigation-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}
.header-btn{
    padding: 8px 90px;
    background: #4797C8;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border: none;
}
.header-navigation,
.main-teacher-contant div{
    display: flex;
}
.header-navigation > li > a{
    line-height: 19px;
    color: #120F0F;

}
.header-navigation li:not(:last-child){
    margin-right: 60px;
}
.header-navigation li:first-child{
    margin-left: 194px;
}
.header-navigation li:last-child{
    margin-right: 30px;
}
.header-lang{
    border: #F9FCFF;
    transition: 500ms;
}
.header-lang option{
    border: 1px solid black;
    border-radius: 4px;
}
.header-under-navigation-btn {
    padding: 12px 111px;
}
.header-title-text-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 91px 0px 86px;
}
.header-title-text{
    font-size: 36px;
    color: #013D48;
    margin-bottom: 43px;
}
.header-title-text span{
    color: #013D48;
    font-weight: bold;
    font-size: 48px; 
}
.header-under-title-text{
    font-size: 18px;
    margin-bottom: 15px;  
}
.header-under-text{
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    color: #013D48;
    margin-bottom: 40px; 
}
.main-container{
    position: relative;
    width: 876px;
    margin: 0 auto;
    text-align: center;
}
.main-under-img{
    position: absolute;
    left: 34%;
    top: -7px;
    height: 496px;
}
.main-title-text{
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #013D48;
    text-align: center;
}
.main-cause-text{
    font-weight: normal;
    line-height: 24px;
    margin-top: 30px;
}
.main-cause-contant{
    display: grid;
    grid-template-columns: 180px 188px 203px;
    grid-template-rows: repeat(2,148px);
    justify-content: space-between;
    gap: 86px;
    margin-bottom: 84px;
    margin-top: 75px;
}
.main-add-background{
    background-color: #DEF2FF;
    padding-top: 46px;
    padding-bottom: 53px;
    text-align: center;
}
.main-add-btn{
    text-align: center;
    border: none;
    border-radius: 50%;
    background-color:#76B7ED;
    color: #FFFFFF;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    position: relative;
    z-index: 1;
}
.main-add-contant{
    display: grid;
    grid-template-columns: 185px 148px 180px 185px; 
    justify-content: space-between;
    padding-bottom: 22px;
    position: relative;
}
.main-add-contant .main-add-under-contant:nth-child(2){
    margin-top: 234px;
}
.main-add-contant .main-add-under-contant:nth-child(3){
    margin-top: 176px;
}
.main-add-contant .main-add-under-contant:nth-child(4){
    margin-top: 84px;
}
.main-add-contant .main-add-under-contant:nth-child(5){
    margin-top: 21px;
}
.main-img-line{
    z-index: 0;
    position: absolute;
    top: 155px;
    right: -15px;
}
.main-add-under-contant p{
    margin-top: 16px;
}
.main-price-contant{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.main-price-container{
    margin-top: 16px;
    text-align: center;
}
.main-price{
    display: block;
    font-weight: 600;
    line-height: 19px;
    padding-top: 13px;
}
.main-price-indentation{
    padding: 64px 0px;
}
.main-price-under-item-text{
    font-size: 18px;
    color: #013D48;
    width: 393px;
    margin: 0 auto;
    padding-bottom: 53px;
}
.main-price-under-contant{
    padding: 27px 23px 30px;
    border-radius: 10px;
    box-shadow: 0px 2.42752px 12.1376px rgba(39, 49, 230, 0.2);
}
.main-price-under-contant:last-child{
    padding: 40px 23px 30px;
}
.main-price-item{
    padding-top: 27px;
    font-weight: 500;
    line-height: 19px;
    color: #120F0F;
}
.main-price-item-right{
    padding-top: 43px;
}
.main-price-btn{
    font-weight: 600;
    font-size: 14.6503px;
    line-height: 18px;
    padding: 10px 85px;
    margin-top: 36px;
}
.main-teacher-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 45px;
    padding-bottom: 98px;
}
.main-title-text-info{
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: black;
    display: inline-block;
    padding-right: 10px;
}
.main-info-text{
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
}
.main-teacher-contant-teacher{
    background: #F4F4FD;
    box-shadow: 0px 2px 10px rgba(39, 49, 230, 0.2);
    padding: 16px 15px 24px;
    width: 328px;
}
.main-teacher-name{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #110F0F;
    padding-top: 24px;
}
.main-teacher-btn{
    text-align: center;
    padding-bottom: 64px;
}
.main-comments-block{
    display: flex;
    gap: 20px;
    padding-top: 57px;
    padding-bottom: 150px;
    transition: .2s;
    /* pointer-events: none; */
}
.main-block-with-comments{
    box-shadow: 0px 2px 10px rgba(64, 123, 255, 0.2);
    border-radius: 10px;  
    padding: 27px 33px 25px;
    display: flex;
    flex-wrap: wrap;
}
.main-block-with-comments img:first-child {
    width: 64.15px;
    height: 53.46px;
}
.main-block-with-comments div{
    padding: 8px 0px 21px 21px;
}
.main-sign-up-input{
    border: 1px solid #4797C8;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    padding: 11px 10px;
    margin-top: 8px;
}
.main-form-box{
    width: 325px;
    padding: 46px 19px 31px;
    box-shadow: 0px 2px 10px rgba(64, 123, 255, 0.2);
    border-radius: 10px;
    background: #FFFFFF;
}
.main-form-sing-up{
   width: 285px;
}
.main-form-btn{
    padding: 12px 90px;
    margin-top: 28px;
}
.main-form-label{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    color: #263238;
    text-align: start;
    margin-bottom: 18px;
}
.main-form-option{
    background: #FAFAFA;
    box-shadow: 0px 2px 4px rgba(224, 224, 224, 0.7);
    border-radius: 14px;
}
