.header{
    .section-nav-men{
        background-color: #bcdaee;
        padding: 0px 20px;
        &__icon{
            max-width: 60px;
            max-height: 60px;
        }
    }
    .section-search{
        .form-header{
           
        &__input-search{
            padding: 10px;
            border-radius: 0.25rem;
            border: none;
        }
        &__select{
            padding: 10px;
            border-radius: 0.25rem;
            border: none;
        }
        }

    }
}