.list{
    font-weight: bold;
}
.blockProduct{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 500px;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}